.el-tabs__item {
    font-weight: 500;
    margin-bottom: 50px;
    margin-top: 30px;
    font: 20px/1.5 'helvetica neue', tahoma, 'PingFang SC', 'microsoft yahei', arial, 'hiragino sans gb', sans-serif;
  }

  .el-form-item__label {
    font-size: 18px;
  }

  .el-form-item__error {
    font-size: 14px;
  }